img {
  max-width: 100%;
}
.container {
  max-width: 1140px;
  width: 100%;
}

.card {
  padding: 0;
  border: 0;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,.15);
}
.card__img-box {
  margin-bottom: 0;
}
.card__body {
  padding: 20px 20px;
}
.card__body .card__title {
  font-size: 22px;
  margin-bottom: 20px;
}
.card__body .card__title a {
  color: #007bff;
}
.card__body p {
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .card {
    max-width: 400px;
    width: 100%;
    margin: 0 auto 30px;
  }
}