<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MoonVo Sunucu Oylama Sistemi!">
    <meta name="keywords" content="Sunucu Oylama Sistemi, MoonVo, MoonVo login, Login MoonVo">
    <meta name="author" content="moonvo">
    <link rel="icon" href="https://i.hizliresim.com/jlddu54.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://i.hizliresim.com/jlddu54.png" type="image/x-icon">
  <title>BAKIM - MoonVo</title>
<link type="text/css" rel="stylesheet" href="./eklenti/bakim.css" />
  <style>
    .alta {
      word-wrap: break-word;
    }
  </style>
</head>
<body>
  <div class="maintenance">
  <div class="maintenance_contain">
    <img src="https://demo.wpbeaveraddons.com/wp-content/uploads/2018/02/main-vector.png" alt="maintenance">
    <span class="pp-infobox-title-prefix">BAKIM</span>
    <div class="pp-infobox-title-wrapper">
		  <h3 class="pp-infobox-title"><%= title %></h3>
	  </div> 
  <div class="pp-infobox-description">
		<p class="alta"><%= description %></p>			</div>    

  </div>
</div>
</body>
</html>