<!DOCTYPE html>
<html lang="tr">
<head>
      <link rel = "icon" href = 
"https://i.hizliresim.com/jlddu54.png" 
       
        type = "image/x-icon">
        <title>MoonVo
        </title>
  
  <title>MoonVo</title>
      <meta property="og:type" content="website" />
<meta property="og:title" content="MoonVo" />
<meta property="og:site_name" content="MoonVo" />
<meta property="og:image" content="https://i.hizliresim.com/jlddu54.png" />
<meta name="description" content="MoonVo Modern bir oy verme botudur https://discord.gg/9TyEZnqfVV" />
<meta property="og:description" content="MoonVo Modern bir oy verme botudur https://discord.gg/9TyEZnqfVV" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
<meta name=”viewport” content=”width=device-width; initial-scale=1.0″>
<link type="text/css" rel="stylesheet" href="./eklenti/banned.css" />
   <style>
::-webkit-scrollbar {
        display: none;
        visibility: hidden;
        opacity: 0;
    background-color: transparent;
}
</style>
</head>
<body class="permission_denied">
    <div id="tsparticles"></div>
    <div class="denied__wrapper">
        <h1>Hesabın Banlı!</h1>
        <h3>Hmm, <strong>BANLI</strong> gibi duruyorsun</h3>
      <h3>Sebep: <%= sebep %> <br>Tarih: <%= date %> <br> Banlayan: <%= banlayanname %>(<strong><%= banlayanıd %></strong>)</h3>
        <img id="astronaut" src="./eklenti/images/astronaut.svg" />
        <img id="planet" src="./eklenti/images/planet.svg" />
              <h3>Bir yanlışlık olduğunu düşünüyorsan Discord sunucumuza gel!</h3>
        <a href="https://discord.gg/9TyEZnqfVV"><button class="denied__link">Discord</button></a>
          <a href="https://discord.com/channels/913024821787500575/1001475141143900190"><button class="denied__link">Bilet Oluştur</button></a>
          <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJvqsTwRlKHGkRlNLDZRknxzQjBSGgMvHWSzPsjtwkMbJmrHppvVVfnjNtZNWkHWNGmwfNV"><button class="denied__link">support@moonvo.com.tr</button></a>
        <br>
    </div>

    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/tsparticles@1.18.11/dist/tsparticles.min.js"></script>
    <script type="text/javascript" src="js/404.js"></script>

  <script src="./eklenti/banned.js">
</script>  
</body>
</html>