<!DOCTYPE html>
<html lang="en"> 
  

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MoonVo Sunucu Oylama Sistemi!">
    <meta name="keywords" content="Sunucu Oylama Sistemi, MoonVo, MoonVo login, Login MoonVo">
    <meta name="author" content="moonvo">
    <link rel="icon" href="https://i.hizliresim.com/jlddu54.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://i.hizliresim.com/jlddu54.png" type="image/x-icon">
    <title>MoonVo</title>
    <!-- Google font-->
  <script src="https://kit.fontawesome.com/616afa13d7.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./Zetaadmindash/assets/css/vendors/font-awesome.css">
    <!-- ico-font-->
      <link rel="stylesheet" type="text/css" href="./Zetaadmindash/assets/css/vendors/icofont.css">
  <link rel="stylesheet" href="./eklenti/icofont.min.css">

    <!-- Themify icon-->
        <link rel="stylesheet" type="text/css" href="./Zetaadmindash/assets/css/vendors/themify.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="./Zetaadmindash/assets/css/vendors/flag-icon.css">
    <!-- Feather icon-->
<script src="https://unpkg.com/feather-icons"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="./Zetaadmindash/assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="./Zetaadmindash/assets/css/vendors/animate.css">
    <link rel="stylesheet" type="text/css" href="./Zetaadmindash/assets/css/vendors/date-picker.css">
    <link rel="stylesheet" type="text/css" href="./Zetaadmindash/assets/css/vendors/photoswipe.css">
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="./Zetaadmindash/assets/css/vendors/bootstrap.css">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="./Zetaadmindash/assets/css/style.css">
    <link id="color" rel="stylesheet" href="./Zetaadmindash/assets/css/color-1.css" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="./Zetaadmindash/assets/css/responsive.css">
   <style>
::-webkit-scrollbar {
        display: none;
        visibility: hidden;
        opacity: 0;
        background-color: transparent;
}
</style>
  </head>
  <body class="dark-only">     
    <!-- Loader starts-->
    <div class="loader-wrapper">
      <div class="loader">
        <div class="loader-bar"></div>
        <div class="loader-bar"></div>
        <div class="loader-bar"></div>
        <div class="loader-bar"></div>
        <div class="loader-bar"></div>
        <div class="loader-ball"></div>
      </div>
    </div>
    <!-- Loader ends-->
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <!-- Page Header Start-->
         <%- navbar %>
        <!-- Page Sidebar Ends-->
        <div class="page-body">
          <div class="container-fluid">        
            <div class="page-title">
              <div class="row">
                <div class="col-12 col-sm-6">
                  <h3>İletişim</h3>
                </div>
                <div class="col-12 col-sm-6">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"> <a class="home-item" href="index.html"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item"> Ek</li>
                    <li class="breadcrumb-item active"> İletişim</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="email-wrap bookmark-wrap">
              <div class="row">
                <div class="col-xl-3 box-col-3 xl-30">
                  <div class="email-sidebar"><a class="btn btn-primary email-aside-toggle" href="javascript:void(0)">Kurucum    </a>
                    <div class="email-left-aside">
                      <div class="card">
                        <div class="card-body">
                          <div class="email-app-sidebar left-bookmark">
                            <div class="media">
                              <div class="media-size-email"><img class="me-3 rounded-circle" src="https://i.hizliresim.com/6ce8n9u.gif" width="50" height="50" alt=""></div>
                              <div class="media-body"><a>
                                  <h6 class="f-w-700">Egehan</h6></a>
                                <p>support@moonvo.com.tr</p>
                              </div>
                            </div>
                            <ul class="nav main-menu contact-options" role="tablist">
                             

                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-9 col-md-12 box-col-9 xl-70">
                  <div class="email-right-aside bookmark-tabcontent contacts-tabs">
                    <div class="card email-body radius-left">
                      <div class="ps-0">
                        <div class="tab-content">
                          <div class="tab-pane fade active show" id="pills-personal" role="tabpanel" aria-labelledby="pills-personal-tab">
                            <div class="card mb-0">
                              <div class="card-header d-flex">
                                <h5>Yetkililer</h5><span class="f-14 pull-right mt-0">5 Yetkili</span>
                              </div>
                              <div class="card-body p-0">
                                <div class="row list-persons" id="addcon">
                                  <div class="col-xl-4 xl-50 col-md-5 box-col-6">
                                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical"><a class="contact-tab-0 nav-link active" id="v-pills-user-tab" data-bs-toggle="pill" onclick="activeDiv(0)" href="#v-pills-user" role="tab" aria-controls="v-pills-user" aria-selected="true">
                                        <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle update_img_0" src="https://i.hizliresim.com/6ce8n9u.gif" alt="">
                                          <div class="media-body">
                                            <h6> <span class="first_name_0">Egehan </span><span class="last_name_0">Ko****</span></h6>
                                            <p class="email_add_0">support@moonvo.com.tr</p>
                                          </div>
                                        </div></a><a class="contact-tab-1 nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" onclick="activeDiv(1)" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"> 
                                        <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle update_img_1" src="https://i.hizliresim.com/3y7hbhs.png" alt="">
                                          <div class="media-body">
                                            <h6> <span class="first_name_1">Efe </span><span class="last_name_1">Kü***</span></h6>
                                            <p class="email_add_1">synes@klavyeefendisi.com</p>
                                          </div>
                                        </div></a><a class="contact-tab-2 nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" onclick="activeDiv(2)" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                                        <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle update_img_2" src="https://i.hizliresim.com/epcwo6b.png" alt="">
                                          <div class="media-body">
                                            <h6> <span class="first_name_2">Samet </span><span class="last_name_2">So****</span></h6>
                                            <p class="email_add_2">sametsobaci61@gmail.com</p>
                                          </div>
                                        </div></a><a class="contact-tab-3 nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" onclick="activeDiv(3)" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                        <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle update_img_3" src="https://i.hizliresim.com/csipobn.png" alt="">
                                          <div class="media-body">
                                            <h6> <span class="first_name_3">Enes </span><span class="last_name_3">İn***</span></h6>
                                            <p class="email_add_3">thekingofnarniya@gmail.com</p>
                                          </div>
                                        </div></a><a class="contact-tab-4 nav-link" id="v-pills-contact1-tab" data-bs-toggle="pill" onclick="activeDiv(4)" href="#v-pills-contact1" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                        <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle update_img_4" src="https://i.hizliresim.com/7fuzy7l.png" alt="">
                                          <div class="media-body">
                                            <h6> <span class="first_name_4">Mustafa Eren </span><span class="last_name_4">******</span></h6>
                                            <p class="email_add_4">dexarcontact@gmail.com</p>
                                          </div>
                                        </div></a></div>
                                  </div>
                                  <div class="col-xl-8 xl-50 col-md-7 box-col-6">
                                    <div class="tab-content" id="v-pills-tabContent">
                                      <div class="tab-pane contact-tab-0 tab-content-child fade show active" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                                        <div class="profile-mail">
                                          <div class="media align-items-center"><img class="img-100 img-fluid m-r-20 rounded-circle update_img_0" src="https://i.hizliresim.com/6ce8n9u.gif" alt="">
                                            <input class="updateimg" type="file" name="img" onchange="readURL(this,0)">
                                            <div class="media-body mt-0">
                                              <h5><span class="first_name_0">Egehan </span><span class="last_name_0">Ko****</span></h5>
                                              <p class="email_add_0">support@moonvo.com.tr</p>

                                            </div>
                                          </div>
                                          <div class="email-general">
                                            <h6 class="mb-3">Genel</h6>
                                            <ul>
                                              <li>Name <span class="font-primary first_name_0">Egehan</span></li>
                                              <li>Rolü<span class="font-primary personality_0">Kurucu</span></li>
                                              <li>Şehir<span class="font-primary city_0">Samsun</span></li>
                                              <li>Email Address <span class="font-primary email_add_0">support@moonvo.com.tr </span></li>
                                              <li>Website<span class="font-primary url_add_0">www.moonvo.com.tr</span></li>
                                              <li>İş<span class="font-primary interest_0">Developer</span></li>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                      
                                      <div class="tab-pane contact-tab-1 tab-content-child fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
 <div class="profile-mail">
                                          <div class="media align-items-center"><img class="img-100 img-fluid m-r-20 rounded-circle update_img_0" src="https://i.hizliresim.com/3y7hbhs.png" alt="">
                                            <input class="updateimg" type="file" name="img" onchange="readURL(this,1)">
                                            <div class="media-body mt-1">
                                              <h5><span class="first_name_1">Efe </span><span class="last_name_1">Kü***</span></h5>
                                              <p class="email_add_1">synes@klavyeefendisi.come</p>

                                            </div>
                                          </div>
                                          <div class="email-general">
                                            <h6 class="mb-3">Genel</h6>
                                            <ul>
                                              <li>Name <span class="font-primary first_name_0">Efe</span></li>
                                              <li>Rolü<span class="font-primary personality_0">Ortak</span></li>
                                              <li>Şehir<span class="font-primary city_0">Samsun</span></li>
                                              <li>Email Address <span class="font-primary email_add_0">synes@klavyeefendisi.com</span></li>
                                              <li>Website<span class="font-primary url_add_0">www.klavyeefendisi.com</span></li>
                                              <li>İş<span class="font-primary interest_0">Developer</span></li>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="tab-pane contact-tab-2 tab-content-child fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                        <div class="profile-mail">
                                          <div class="media align-items-center"><img class="img-100 img-fluid m-r-20 rounded-circle update_img_2" src="https://i.hizliresim.com/epcwo6b.png" alt="">
                                            <input class="updateimg" type="file" name="img" onchange="readURL(this,2)">
                                            <div class="media-body mt-2">
                                              <h5><span class="first_name_2">Samet </span><span class="last_name_1">So***</span></h5>
                                              <p class="email_add_2">sametsobaci61@gmail.com</p>

                                            </div>
                                          </div>
                                          <div class="email-general">
                                            <h6 class="mb-3">Genel</h6>
                                            <ul>
                                              <li>Name <span class="font-primary first_name_2">Samet</span></li>
                                              <li>Rolü<span class="font-primary personality_2">Admin</span></li>
                                              <li>Şehir<span class="font-primary city_2">İstanbul</span></li>
                                              <li>Email Address <span class="font-primary email_add_2">sametsobaci61@gmail.com</span></li>
                                              <li>Website<span class="font-primary url_add_2">www.new-tab.cf</span></li>
                                              <li>İş<span class="font-primary interest_2">Developer</span></li>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="tab-pane contact-tab-3 tab-content-child fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                                        <div class="profile-mail">
                                          <div class="media align-items-center"><img class="img-100 img-fluid m-r-20 rounded-circle update_img_3" src="https://i.hizliresim.com/csipobn.png" alt="">
                                            <input class="updateimg" type="file" name="img" onchange="readURL(this,3)">
                                            <div class="media-body mt-3">
                                              <h5><span class="first_name_3">Enes </span><span class="last_name_1">İn***</span></h5>
                                              <p class="email_add_3">thekingofnarniya@gmail.com</p>

                                            </div>
                                          </div>
                                          <div class="email-general">
                                            <h6 class="mb-3">Genel</h6>
                                            <ul>
                                              <li>Name <span class="font-primary first_name_3">Enes</span></li>
                                              <li>Rolü<span class="font-primary personality_3">Admin</span></li>
                                              <li>Şehir<span class="font-primary city_3">Samsun</span></li>
                                              <li>Email Address <span class="font-primary email_add_3">thekingofnarniya@gmail.com</span></li>
                                              <li>Website<span class="font-primary url_add_3">-</span></li>
                                              <li>İş<span class="font-primary interest_3">E-spor</span></li>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="tab-pane contact-tab-4 tab-content-child fade" id="v-pills-contact1" role="tabpanel" aria-labelledby="v-pills-contact1-tab">
                                        <div class="profile-mail">
                                          <div class="media align-items-center"><img class="img-100 img-fluid m-r-20 rounded-circle update_img_4" src="https://i.hizliresim.com/7fuzy7l.png" alt="">
                                            <input class="updateimg" type="file" name="img" onchange="readURL(this,4)">
                                            <div class="media-body mt-4">
                                              <h5><span class="first_name_4">Mustafa Eren </span><span class="last_name_1">****</span></h5>
                                              <p class="email_add_4">dexarcontact@gmail.com</p>

                                            </div>
                                          </div>
                                          <div class="email-general">
                                            <h6 class="mb-3">Genel</h6>
                                            <ul>
                                              <li>Name <span class="font-primary first_name_3">Mustafa Eren</span></li>
                                              <li>Rolü<span class="font-primary personality_3">Admin</span></li>
                                              <li>Şehir<span class="font-primary city_3">İstanbul</span></li>
                                              <li>Email Address <span class="font-primary email_add_3">dexarcontact@gmail.com</span></li>
                                              <li>Website<span class="font-primary url_add_3">www.deprembilgi.ml</span></li>
                                              <li>İş<span class="font-primary interest_3">Developer</span></li>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="tab-pane contact-tab-5 tab-content-child fade" id="v-pills-contact8" role="tabpanel" aria-labelledby="v-pills-contact1-tab">
                                        <div class="profile-mail">
                                          <div class="media"><img class="img-100 img-fluid m-r-20 rounded-circle update_img_5" src="../assets/images/avtar/11.jpg" alt="">
                                            <input class="updateimg" type="file" name="img" onchange="readURL(this,5)">
                                            <div class="media-body mt-0">
                                              <h5> <span class="first_name_5">Monty  </span><span class="last_name_5">Carlo</span></h5>
                                              <p class="email_add_5">monty@gmail.com</p>
                                              <ul>
                                                <li><a href="javascript:void(0)" onclick="editContact(5)">Edit</a></li>
                                                <li><a href="javascript:void(0)" onclick="deleteContact(5)">Delete</a></li>
                                                <li><a href="javascript:void(0)" onclick="history(5)">History</a></li>
                                                <li><a href="javascript:void(0)" onclick="printContact(5)" data-bs-toggle="modal" data-bs-target="#printModal">Print</a></li>
                                              </ul>
                                            </div>
                                          </div>
                                          <div class="email-general">
                                            <h6 class="mb-3">General</h6>
                                            <ul>
                                              <li>Name <span class="font-primary first_name_5">Monty</span></li>
                                              <li>Gender <span class="font-primary">Male</span></li>
                                              <li>Birthday<span class="font-primary"> <span class="birth_day_5">12</span><span class="birth_month_5 ms-1">Nov</span><span class="birth_year_5 ms-1">1994</span></span></li>
                                              <li>Personality<span class="font-primary personality_5">Cool</span></li>
                                              <li>City<span class="font-primary city_5">Amreli</span></li>
                                              <li>Mobile No<span class="font-primary mobile_num_5">+0 1800 87944</span></li>
                                              <li>Email Address <span class="font-primary email_add_5">monty@gmail.com</span></li>
                                              <li>Website<span class="font-primary url_add_5">www.mon@.com</span></li>
                                              <li>Interest<span class="font-primary interest_5">sports</span></li>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="tab-pane contact-tab-6 tab-content-child fade" id="v-pills-contact9" role="tabpanel" aria-labelledby="v-pills-contact8-tab">
                                        <div class="profile-mail">
                                          <div class="media"><img class="img-100 img-fluid m-r-20 rounded-circle update_img_6" src="../assets/images/avtar/16.jpg" alt="">
                                            <input class="updateimg" type="file" name="img" onchange="readURL(this,6)">
                                            <div class="media-body mt-0">
                                              <h5> <span class="first_name_6">Brock </span><span class="last_name_6">Lee</span></h5>
                                              <p class="email_add_6">lee@gmail.com</p>
                                              <ul>
                                                <li><a href="javascript:void(0)" onclick="editContact(6)">Edit</a></li>
                                                <li><a href="javascript:void(0)" onclick="deleteContact(6)">Delete</a></li>
                                                <li><a href="javascript:void(0)" onclick="history(6)">History</a></li>
                                                <li><a href="javascript:void(0)" onclick="printContact(6)" data-bs-toggle="modal" data-bs-target="#printModal">Print</a></li>
                                              </ul>
                                            </div>
                                          </div>
                                          <div class="email-general">
                                            <h6 class="mb-3">General</h6>
                                            <ul>
                                              <li>Name <span class="font-primary first_name_6">Brock</span></li>
                                              <li>Gender <span class="font-primary">Male</span></li>
                                              <li>Birthday<span class="font-primary"> <span class="birth_day_6">8</span><span class="birth_month_6 ms-1">Dec</span><span class="birth_year_6 ms-1">1992</span></span></li>
                                              <li>Personality<span class="font-primary personality_6">Cool</span></li>
                                              <li>City<span class="font-primary city_6">Ahemdabad</span></li>
                                              <li>Mobile No<span class="font-primary mobile_num_6">+0 1800 58712</span></li>
                                              <li>Email Address <span class="font-primary email_add_6">lee@gmail.com</span></li>
                                              <li>Website<span class="font-primary url_add_6">www.lee.com</span></li>
                                              <li>Interest<span class="font-primary interest_6">photography             </span></li>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="fade tab-pane" id="pills-organization" role="tabpanel" aria-labelledby="pills-organization">
                            <div class="card mb-0">
                              <div class="card-header d-flex">
                                <h5>Organization</h5><span class="f-14 pull-right mt-0">10 Contacts</span>
                              </div>
                              <div class="card-body p-0">
                                <div class="row list-persons">
                                  <div class="col-xl-4 xl-50 col-md-5 box-col-6">
                                    <div class="nav flex-column nav-pills" id="v-pills-tab1" role="tablist" aria-orientation="vertical"><a class="nav-link active" id="v-pills-iduser-tab" data-bs-toggle="pill" href="#v-pills-iduser" role="tab" aria-controls="v-pills-iduser" aria-selected="true">
                                        <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" src="../assets/images/user/user.png" alt="">
                                          <div class="media-body">
                                            <h6>Mark jecno</h6>
                                            <p>markjecno@gmail.com</p>
                                          </div>
                                        </div></a><a class="nav-link" id="v-pills-iduser1-tab" data-bs-toggle="pill" href="#v-pills-iduser1" role="tab" aria-controls="v-pills-iduser1" aria-selected="false"> 
                                        <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" src="../assets/images/user/3.jpg" alt="">
                                          <div class="media-body">
                                            <h6>Jason Borne</h6>
                                            <p>jasonb@gmail.com</p>
                                          </div>
                                        </div></a><a class="nav-link" id="v-pills-iduser2-tab" data-bs-toggle="pill" href="#v-pills-iduser2" role="tab" aria-controls="v-pills-iduser2" aria-selected="false">
                                        <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" src="../assets/images/user/4.jpg" alt="">
                                          <div class="media-body">
                                            <h6>Sarah Loren</h6>
                                            <p>barnes@gmail.com</p>
                                          </div>
                                        </div></a><a class="nav-link" id="v-pills-iduser3-tab" data-bs-toggle="pill" href="#v-pills-iduser3" role="tab" aria-controls="v-pills-iduser3" aria-selected="false">
                                        <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" src="../assets/images/user/10.jpg" alt="">
                                          <div class="media-body">
                                            <h6>Andew Jon</h6>
                                            <p>andrewj@gmail.com</p>
                                          </div>
                                        </div></a></div>
                                  </div>
                                  <div class="col-xl-8 xl-50 col-md-7 box-col-6">
                                    <div class="tab-content" id="v-pills-tabContent1">
                                      <div class="tab-pane fade show active" id="v-pills-iduser" role="tabpanel" aria-labelledby="v-pills-iduser-tab">
                                        <div class="profile-mail">
                                          <div class="media"><img class="img-100 img-fluid m-r-20 rounded-circle update_img_5" src="../assets/images/user/user.png" alt="">
                                            <div class="media-body mt-0">
                                              <h5><span class="first_name_5">Mark </span><span class="last_name_5">jecno</span></h5>
                                              <p class="email_add_5">markjecno@gmail.com</p>
                                              <ul>
                                                <li><a href="javascript:void(0)" onclick="printContact(5)" data-bs-toggle="modal" data-bs-target="#printModal">Print</a></li>
                                              </ul>
                                            </div>
                                          </div>
                                          <div class="email-general">
                                            <h6>General</h6>
                                            <p>Email Address: <span class="font-primary email_add_5">markjecno@gmail.com</span></p>
                                            <div class="gender">
                                              <h6>Personal</h6>
                                              <p>Gender: <span>Male</span></p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="tab-pane fade" id="v-pills-iduser1" role="tabpanel" aria-labelledby="v-pills-iduser1-tab">
                                        <div class="profile-mail">
                                          <div class="media"><img class="img-100 img-fluid m-r-20 rounded-circle update_img_6" src="../assets/images/user/3.jpg" alt="">
                                            <div class="media-body mt-0">
                                              <h5><span class="first_name_6">Jason </span><span class="last_name_6">Borne</span></h5>
                                              <p class="email_add_6">jasonb@gmail.com</p>
                                              <ul>
                                                <li><a href="javascript:void(0)" onclick="printContact(6)" data-bs-toggle="modal" data-bs-target="#printModal">Print</a></li>
                                              </ul>
                                            </div>
                                          </div>
                                          <div class="email-general">
                                            <h6>General</h6>
                                            <p>Email Address: <span class="font-primary email_add_6">jasonb@gmail.com</span></p>
                                            <div class="gender">
                                              <h6>Personal</h6>
                                              <p>Gender: <span>Male</span></p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="tab-pane fade" id="v-pills-iduser2" role="tabpanel" aria-labelledby="v-pills-iduser2-tab">
                                        <div class="profile-mail">
                                          <div class="media"><img class="img-100 img-fluid m-r-20 rounded-circle update_img_7" src="../assets/images/user/4.jpg" alt="">
                                            <div class="media-body mt-0">
                                              <h5> <span class="first_name_7">Sarah </span><span class="last_name_7">Loren</span></h5>
                                              <p class="email_add_7">barnes@gmail.com</p>
                                              <ul>
                                                <li><a href="javascript:void(0)" onclick="printContact(7)" data-bs-toggle="modal" data-bs-target="#printModal">Print</a></li>
                                              </ul>
                                            </div>
                                          </div>
                                          <div class="email-general">
                                            <h6>General</h6>
                                            <p>Email Address: <span class="font-primary email_add_7">barnes@gmail.com</span></p>
                                            <div class="gender">
                                              <h6>Personal</h6>
                                              <p>Gender: <span>Female</span></p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="tab-pane fade" id="v-pills-iduser3" role="tabpanel" aria-labelledby="v-pills-iduser3-tab">
                                        <div class="profile-mail">
                                          <div class="media"><img class="img-100 img-fluid m-r-20 rounded-circle update_img_8" src="../assets/images/user/10.jpg" alt="">
                                            <div class="media-body mt-0">
                                              <h5> <span class="first_name_8">Andew </span><span class="last_name_8">Jon</span></h5>
                                              <p class="email_add_8">andrewj@gmail.com</p>
                                              <ul>
                                                <li><a href="javascript:void(0)" onclick="printContact(8)" data-bs-toggle="modal" data-bs-target="#printModal">Print</a></li>
                                              </ul>
                                            </div>
                                          </div>
                                          <div class="email-general">
                                            <h6>General</h6>
                                            <p>Email Address: <span class="font-primary email_add_8">andrewj@gmail.com</span></p>
                                            <div class="gender">
                                              <h6>Personal</h6>
                                              <p>Gender: <span>Female</span></p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div id="right-history">
                            <div class="modal-header p-l-20 p-r-20">
                              <h6 class="modal-title w-100">Contact History<span class="pull-right"><a class="closehistory" href="javascript:void(0)"><i class="icofont icofont-close"></i></a></span></h6>
                            </div>
                            <div class="history-details">
                              <div class="text-center"><i class="icofont icofont-ui-edit"></i>
                                <p>Contact has not been modified yet.</p>
                              </div>
                              <div class="media"><i class="icofont icofont-star me-3"></i>
                                <div class="media-body mt-0">
                                  <h6 class="mt-0">Contact Created</h6>
                                  <p class="mb-0">Contact is created via mail</p><span class="f-12">Sep 10, 2019 4:00</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal fade modal-bookmark" id="printModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Print preview</h5>
                                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body list-persons">
                                  <div class="profile-mail pt-0" id="DivIdToPrint">
                                    <div class="media"><img class="img-100 img-fluid m-r-20 rounded-circle" id="updateimg" src="../assets/images/user/2.png" alt="">
                                      <div class="media-body mt-0">
                                        <h5><span id="printname">Bucky </span><span id="printlast">Barnes</span></h5>
                                        <p id="printmail">barnes@gmail.com</p>
                                      </div>
                                    </div>
                                    <div class="email-general">
                                      <h6>General</h6>
                                      <p>Email Address: <span class="font-primary" id="mailadd">barnes@gmail.com   </span></p>
                                    </div>
                                  </div>
                                  <button class="btn btn-secondary" id="btnPrint" type="button" onclick="printDiv();">Print</button>
                                  <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Cancel</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>
        <!-- footer start-->
        <footer class="footer">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 footer-copyright text-center">
                <p class="mb-0">Copyright 2022 © MoonVo  </p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- latest jquery-->
    <script src="./Zetaadmindash/assets/js/jquery-3.5.1.min.js"></script>
    <!-- Bootstrap js-->
    <script src="./Zetaadmindash/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- feather icon js-->
    <script src="./Zetaadmindash/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="./Zetaadmindash/assets/js/icons/feather-icon/feather-icon.js"></script>
    <!-- scrollbar js-->
    <script src="./Zetaadmindash/assets/js/scrollbar/simplebar.js"></script>
    <script src="./Zetaadmindash/assets/js/scrollbar/custom.js"></script>
    <!-- Sidebar jquery-->
    <script src="./Zetaadmindash/assets/js/config.js"></script>
    <!-- Plugins JS start-->
    <script src="./Zetaadmindash/assets/js/sidebar-menu.js"></script>
    <script src="./Zetaadmindash/assets/js/chart/knob/knob.min.js"></script>
    <script src="./Zetaadmindash/assets/js/chart/knob/knob-chart.js"></script>
    <script src="./Zetaadmindash/assets/js/chart/apex-chart/apex-chart.js"></script>
    <script src="./Zetaadmindash/assets/js/chart/apex-chart/stock-prices.js"></script>
    <script src="./Zetaadmindash/assets/js/notify/bootstrap-notify.min.js"></script>
    <script src="./Zetaadmindash/assets/js/dashboard/default.js"></script>
    <script src="./Zetaadmindash/assets/js/notify/index.js"></script>
    <script src="./Zetaadmindash/assets/js/datepicker/date-picker/datepicker.js"></script>
    <script src="./Zetaadmindash/assets/js/datepicker/date-picker/datepicker.en.js"></script>
    <script src="./Zetaadmindash/assets/js/datepicker/date-picker/datepicker.custom.js"></script>
    <script src="./Zetaadmindash/assets/js/photoswipe/photoswipe.min.js"></script>
    <script src="./Zetaadmindash/assets/js/photoswipe/photoswipe-ui-default.min.js"></script>
    <script src="./Zetaadmindash/assets/js/photoswipe/photoswipe.js"></script>
    <script src="./Zetaadmindash/assets/js/typeahead/handlebars.js"></script>
    <script src="./Zetaadmindash/assets/js/typeahead/typeahead.bundle.js"></script>
    <script src="./Zetaadmindash/assets/js/typeahead/typeahead.custom.js"></script>
    <script src="./Zetaadmindash/assets/js/typeahead-search/handlebars.js"></script>
    <script src="./Zetaadmindash/assets/js/typeahead-search/typeahead-custom.js"></script>
    <script src="./Zetaadmindash/assets/js/height-equal.js"></script>
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
                <script src="./sweetalert/libs/sweetalert2.all.min.js"></script>
        
    <script src="./Zetaadmindash/assets/js/script.js"></script>
    <!-- login js-->
    <!-- Plugin used-->
  </body>
          <script>
$(document).ready(function() {
    $("#premiumbutton").click(function(){
Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: 'Ücretsiz Pro Plan Yakında!',
  footer: '<a href="">www.moonvo.com.tr</a>'
})
    }); 
});
    
          </script>
<!-- Mirrored from admin.pixelstrap.com/zeta/theme/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 10 Feb 2022 04:55:25 GMT -->
</html>