  <html lang="tr">
    <head>
      <link rel = "icon" href = 
"https://i.hizliresim.com/jlddu54.png" 
       
        type = "image/x-icon">
        <title>MoonVo
        </title>
  
  <title>MoonVo</title>
      <meta property="og:type" content="website" />
<meta property="og:title" content="MoonVo" />
<meta property="og:site_name" content="MoonVo" />
<meta property="og:image" content="https://i.hizliresim.com/jlddu54.png" />
<meta name="description" content="MoonVo ile Geleceğe Yeni Bir Adım https://discord.gg/9TyEZnqfVV" />
<meta property="og:description" content="MoonVo ile Geleceğe Yeni Bir Adım https://discord.gg/9TyEZnqfVV" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="./eklenti/test.css"> 
        <link rel="stylesheet" href="./eklenti/slider.css">
         <link rel="stylesheet" href="./eklenti/fiyatlandırmabox.css">     
              <link rel="stylesheet" href="./eklenti/preload.css">
<link href="./sweetalert/libs/sweetalert2.min.css" rel="stylesheet">
               <link rel="stylesheet" href="./eklenti/cookie.css">     
      <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
      <meta name=”viewport” content=”width=device-width, initial-scale = 1 ”>
      <style> 
.buttondow.dark {
  --background: #2f3545;
  --shadow: 0 2px 8px -1px rgba(21, 25, 36, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(21, 25, 36, 0.5);
}
.buttondow.white {
  --background: #fff;
  --text: #275efe;
  --shadow: 0 2px 8px -1px rgba(18, 22, 33, 0.04);
  --shadow-hover: 0 4px 20px -2px rgba(18, 22, 33, 0.12);
}
.buttondow.fast {
  --duration: 0.32s;
}

.buttondow {
  --background: #275efe;
  --text: #fff;
  --font-size: 16px;
  --duration: 0.44s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
  --font-shadow: var(--font-size);
  padding: 16px 32px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: var(--font-size);
  border-radius: 24px;
  display: block;
  outline: none;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: 0.5px;
  background: var(--background);
  color: var(--text);
  box-shadow: var(--shadow);
  transform: translateY(var(--y)) translateZ(0);
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
}
.buttondow div {
  display: flex;
  overflow: hidden;
  text-shadow: 0 var(--font-shadow) 0 var(--text);
}
.buttondow div span {
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-style: normal;
  transition: transform var(--duration) ease;
  transform: translateY(var(--m)) translateZ(0);
}
.buttondow div span:nth-child(1) {
  transition-delay: 0.05s;
}
.buttondow div span:nth-child(2) {
  transition-delay: 0.1s;
}
.buttondow div span:nth-child(3) {
  transition-delay: 0.15s;
}
.buttondow div span:nth-child(4) {
  transition-delay: 0.2s;
}
.buttondow div span:nth-child(5) {
  transition-delay: 0.25s;
}
.buttondow div span:nth-child(6) {
  transition-delay: 0.3s;
}
.buttondow div span:nth-child(7) {
  transition-delay: 0.35s;
}
.buttondow div span:nth-child(8) {
  transition-delay: 0.4s;
}
.buttondow div span:nth-child(9) {
  transition-delay: 0.45s;
}
.buttondow div span:nth-child(10) {
  transition-delay: 0.5s;
}
.buttondow div span:nth-child(11) {
  transition-delay: 0.55s;
}
.buttondow:hover {
  --y: var(--move-hover);
  --shadow: var(--shadow-hover);
}
.buttondow:hover span {
  --m: calc(var(--font-size) * -1);
}
.buttondow.reverse {
  --font-shadow: calc(var(--font-size) * -1);
}
.buttondow.reverse:hover span {
  --m: calc(var(--font-size));
}


body .buttondow {
  margin: 0 12px;
}
      </style>
 <style>
::-webkit-scrollbar {
        display: none;
        visibility: hidden;
        opacity: 0;
        background-color: transparent;
}
</style>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- responsive şeysi -->
<script src="./jQuery/libs/jquery361/jquery-3.6.1.min.js"></script>
    <!-- ===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!--<title>Responsive Navigation Menu Bar</title>-->
                            

                                    
      <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-680JX7DLLE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-680JX7DLLE');
</script>
    </head>
    <!-- ***** Preloader Start ***** -->
      <div class="pl">
        <div class="round1"></div>
        <div class="pl__l"></div>
        <div class="pl__r"></div>
      </div>
  <!-- ***** Preloader End ***** -->
<body>
    <div class="wrapper">
      <header>
        <i class="bx bx-cookie"></i>
        <h2>Cookies Consent</h2>
      </header>

      <div class="data">
        <p>This website use cookies to help you have a superior and more relevant browsing experience on the website. <a href="#"> Read more...</a></p>
      </div>

      <div class="buttonss">
        <button class="buttons" id="acceptBtn">Accept</button>
        <button class="buttons" id="declineBtn">Decline</button>
      </div>
    </div>
    <nav>
        <div class="nav-bar">
            <i class='bx bx-menu sidebarOpen' ></i>
          <img src="https://i.hizliresim.com/e4dnl0k.png" width="50" height="50" style="margin-top:0px;right:100px;"/>
            <span class="logo navLogo"><a href="#"><i></i>MoonVo<sub>v6</sub></a></span>

            <div class="menu">
                <div class="logo-toggle">
                    <span class="logo"><a href="#">MoonVo<sub>v6</sub></a></span>
                    <i class='bx bx-x siderbarClose'></i>
                </div>

                <ul class="nav-links">
                    <li><a href="#">Anasayfa</a></li>
                  <div id="sssbutton">
                    <li><a href="#sss">SSS</a></li>
                    </div>
                  <div id="prbutton">
                    <li><a href="#pricing">Fiyatlandırma</a></li>
                    </div>
                    <li><a href="#">Servisler</a></li>
                    <li><a href="#">İletişim</a></li>
                                                                <% if(!user) {%>   
                    <li><a href="/login">Dashboard</a></li>
    
    <% } else {%>    
                    <li><a href="/dashboard">Dashboard</a></li>   
      <% } %> 
                </ul>
            </div>

            <div class="darkLight-searchBox">
        
                <div class="dark-light">
                    <i class='bx bx-moon moon'></i>
                    <i class='bx bx-sun sun'></i>
                </div>
                <ul class="nav-links">
                </ul>
                <div class="searchBox">
                   <div class="searchToggle">
                    <i class='bx bx-x cancel'></i>
                    <i class='bx bx-search search'></i>
                   </div>

                    <div class="search-field">
                        <input type="text" placeholder="Search...">
                        <i class='bx bx-search'></i>
                    </div>
                </div>
            </div>
        
        </div>
    </nav>
        
 <header class="showcase">
   
    <div class="container showcase-inner">
      <h1>MoonVo</h1>
      <p><span class="auto-type"></span></p>
      <div id="discord-button">
	<a href="https://discord.gg/9TyEZnqfVV" target="_blank">
		<div class="icon">
			<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 245 240">
				<path class="st0" d="M104.4 103.9c-5.7 0-10.2 5-10.2 11.1s4.6 11.1 10.2 11.1c5.7 0 10.2-5 10.2-11.1.1-6.1-4.5-11.1-10.2-11.1zM140.9 103.9c-5.7 0-10.2 5-10.2 11.1s4.6 11.1 10.2 11.1c5.7 0 10.2-5 10.2-11.1s-4.5-11.1-10.2-11.1z" ></path>
				<path class="st0" d="M189.5 20h-134C44.2 20 35 29.2 35 40.6v135.2c0 11.4 9.2 20.6 20.5 20.6h113.4l-5.3-18.5 12.8 11.9 12.1 11.2 21.5 19V40.6c0-11.4-9.2-20.6-20.5-20.6zm-38.6 130.6s-3.6-4.3-6.6-8.1c13.1-3.7 18.1-11.9 18.1-11.9-4.1 2.7-8 4.6-11.5 5.9-5 2.1-9.8 3.5-14.5 4.3-9.6 1.8-18.4 1.3-25.9-.1-5.7-1.1-10.6-2.7-14.7-4.3-2.3-.9-4.8-2-7.3-3.4-.3-.2-.6-.3-.9-.5-.2-.1-.3-.2-.4-.3-1.8-1-2.8-1.7-2.8-1.7s4.8 8 17.5 11.8c-3 3.8-6.7 8.3-6.7 8.3-22.1-.7-30.5-15.2-30.5-15.2 0-32.2 14.4-58.3 14.4-58.3 14.4-10.8 28.1-10.5 28.1-10.5l1 1.2c-18 5.2-26.3 13.1-26.3 13.1s2.2-1.2 5.9-2.9c10.7-4.7 19.2-6 22.7-6.3.6-.1 1.1-.2 1.7-.2 6.1-.8 13-1 20.2-.2 9.5 1.1 19.7 3.9 30.1 9.6 0 0-7.9-7.5-24.9-12.7l1.4-1.6s13.7-.3 28.1 10.5c0 0 14.4 26.1 14.4 58.3 0 0-8.5 14.5-30.6 15.2z" ></path>
			</svg>
		</div>
		<span>Discord sunucuma katıl!</span>
	</a>
          
</div>
<a href="MoonVo.apk" class="buttondow fast">Mobil Uygulamayı İndir(APK)</a>

    </div>
          
        </header>
<div class="containerrr" id="sıkcasorulansorular">
  <h2>Sıkça sorulan sorular</h2>
  <div class="accordion">
    <div class="accordion-item">
      <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">MoonVo ne işe yarar?</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p>MoonVo sayesinde sunucularınızı tanıtabilir, büyütebilirsiniz sitemiz üzerindende Tüm sunucuları ve oylarını görebilirsiniz.</p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">Bakiye nasıl alınır?</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p>Şu anda bakiye için sanal pos sistemi yoktur. Şuanlık <strong>Egehan#7658</strong> veya <strong>support@moonvo.com.tr</strong> ile iletişime geçerek papara ödeme ile bakiye satın alabilirsiniz.</p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">Plan nasıl alınır?</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p>Şuanda plan alımlarımız açık değildir yinede destek amaçlı plan almak istiyor iseniz <strong>Egehan#7658</strong> veya <strong>support@moonvo.com.tr</strong> ile iletişime geçebilirsiniz.</p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">Her sunucu için oy verilebiliyor mu?</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p>Evet, MoonVo'nun olup ve sunucunun onaylı olması durumunda oy verip oy durumunu kontrol edebilirsiniz.</p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">Sunucumu nasıl onaylatırım?</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p>Yakında olucaktır, yakında olucak ama kısa bir özet geçeyim sunucunuzu destek sunucumuz üzerinden bir kanal ile destek talebi açarak Yetkililerimize discord sunucunuzu Amacını v.b bilgileri ileterek sunucu onaylama işlemini gerçekleştirebilirsiniz.</p>
      </div>
    </div>
  </div>
</div>
<br></br>
          
           <header class="showcase">
              <div class="container showcase-inner">
<h1>En Ünlü ilk 5 sunucu</h1>

<section class="cards">
<article class="card card--1">
  <div class="card__info-hover">
    <svg class="card__like"  viewBox="0 0 24 24">
    <path fill="#000000" d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z" ></path>
</svg>
      <div class="card__clock-info">
        <svg class="card__clock"  viewBox="0 0 24 24"><path d="M12,20A7,7 0 0,1 5,13A7,7 0 0,1 12,6A7,7 0 0,1 19,13A7,7 0 0,1 12,20M19.03,7.39L20.45,5.97C20,5.46 19.55,5 19.04,4.56L17.62,6C16.07,4.74 14.12,4 12,4A9,9 0 0,0 3,13A9,9 0 0,0 12,22C17,22 21,17.97 21,13C21,10.88 20.26,8.93 19.03,7.39M11,14H13V8H11M15,1H9V3H15V1Z" ></path>
        </svg><span class="card__time">15 min</span>
      </div>
    
  </div>
  <div class="card__img"></div>
  <a href="#" class="card_link">
     <div class="card__img--hover"></div>
   </a>
  <div class="card__info">
    <span class="card__category">MoonVo</span>
    <h3 class="card__title">MoonVo, sunucu oylama sistemi!</h3>
    <span class="card__by">by <a href="#" class="card__author" title="author">Egehan</a></span>
  </div>
</article>
  
  
<article class="card card--2">
  <div class="card__info-hover">
    <svg class="card__like"  viewBox="0 0 24 24">
    <path fill="#000000" d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z" ></path>
</svg>
      <div class="card__clock-info">
        <svg class="card__clock"  viewBox="0 0 24 24"><path d="M12,20A7,7 0 0,1 5,13A7,7 0 0,1 12,6A7,7 0 0,1 19,13A7,7 0 0,1 12,20M19.03,7.39L20.45,5.97C20,5.46 19.55,5 19.04,4.56L17.62,6C16.07,4.74 14.12,4 12,4A9,9 0 0,0 3,13A9,9 0 0,0 12,22C17,22 21,17.97 21,13C21,10.88 20.26,8.93 19.03,7.39M11,14H13V8H11M15,1H9V3H15V1Z" ></path>
        </svg><span class="card__time">5 min</span>
      </div>
    
  </div>
  <div class="card__img"></div>
  <a href="#" class="card_link">
     <div class="card__img--hover"></div>
   </a>
  <div class="card__info">
    <span class="card__category"> FastUptime</span>
    <h3 class="card__title">Botunu Uptime et!</h3>
    <span class="card__by">by <a href="#" class="card__author" title="author">Can</a></span>
  </div>
</article>  
  <article class="card card--3">
  <div class="card__info-hover">
    <svg class="card__like"  viewBox="0 0 24 24">
    <path fill="#000000" d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z" ></path>
</svg>
      <div class="card__clock-info">
        <svg class="card__clock"  viewBox="0 0 24 24"><path d="M12,20A7,7 0 0,1 5,13A7,7 0 0,1 12,6A7,7 0 0,1 19,13A7,7 0 0,1 12,20M19.03,7.39L20.45,5.97C20,5.46 19.55,5 19.04,4.56L17.62,6C16.07,4.74 14.12,4 12,4A9,9 0 0,0 3,13A9,9 0 0,0 12,22C17,22 21,17.97 21,13C21,10.88 20.26,8.93 19.03,7.39M11,14H13V8H11M15,1H9V3H15V1Z" ></path>
        </svg><span class="card__time">5 min</span>
      </div>
    
  </div>
  <div class="card__img"></div>
  <a href="#" class="card_link">
     <div class="card__img--hover"></div>
   </a>
  <div class="card__info">
    <span class="card__category"> Flash Code Community®</span>
    <h3 class="card__title">Kod yardım sunucusu!</h3>
    <span class="card__by">by <a href="#" class="card__author" title="author">whenius</a></span>
  </div>
</article>  
  
  
  </section>
                              </div>
           </header>
          <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/63a352c1daff0e1306ddc4a9/1gkqvmhkq';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>
        </html>
  <script src="./eklenti/test.js"></script> 
          <script src="./eklenti/cookie.js"></script> 
                <script src="./sweetalert/libs/sweetalert2.all.min.js"></script>
                   <script>
  
let urlParams = new URLSearchParams(window.location.search);
if(urlParams.get('logout_eminmisin') == 'true'){
  
const swalWithBootstrapButtons1 = Swal.mixin({
  customClass: {
    confirmButton: 'btn',
    cancelButton: 'btn btn-danger',
  },
  buttonsStyling: true
})
  swalWithBootstrapButtons1.fire({
  title: "<a style='color:black'>Emin misin?</a>",
  icon: 'warning',
  html: 'Hesabından çkış yapılacak ve bazı özelliklere erişimin kesilecek!',
        cancelButtonColor: "#DD6B55",
    confirmButtonColor: "#4CAF50",
  confirmButtonText: `<a href="/logout"> Evet, Eminim</a>`,
  cancelButtonText: "İptal",
  showCancelButton: true,
  showCloseButton: true,
    reverseButtons: true  
}).then((result) => {
  if (result.isDenied === Swal.DismissReason.cancel) {
swalWithBootstrapButtons.fire(
      'İptal edildi!',
      'Hesabından çıkış yapılmadı',
      'error'
    )
  } 
})
        }
</script>
                             <script>
  
let urlParams1 = new URLSearchParams(window.location.search);
if(urlParams1.get('logout_yapildi') == 'true'){  
const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: true,
  timer: 5000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

Toast.fire({
  icon: 'success',
  title: 'Başarıyla çıkış yapıldı!'
})
}
</script>
                   <script>
 

let urlParams2 = new URLSearchParams(window.location.search);
if(urlParams2.get('login_yapildi') == 'true'){  
const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: true,
  timer: 5000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

Toast.fire({
  icon: 'success',
  title: 'Başarıyla giriş yapıldı!'
})
  
}
</script> 
                           <script>
let urlParams3 = new URLSearchParams(window.location.search);
if(urlParams3.get('eposta_onaylandi') == 'true'){  
Swal.fire({
  icon: 'success',
  title: 'Başarılı!',
  text: 'E-posta adresi başarıyla onaylandı.',
  footer: '<a href="">www.moonvo.com.tr</a>'
})
  
}
</script> 
         <script>
let urlParams4 = new URLSearchParams(window.location.search);
if(urlParams4.get('eposta_zaten') == 'true'){  
Swal.fire({
  icon: 'error',
  title: 'Hata!',
  text: 'E-posta adresi zaten onaylanmış.',
  footer: '<a href="">www.moonvo.com.tr</a>'
})
  
}
</script> 
         <script>
let urlParams5 = new URLSearchParams(window.location.search);
if(urlParams5.get('eposta_onaylanamadi') == 'true'){  
Swal.fire({
  icon: 'error',
  title: 'Hata!',
  text: 'Böyle Bir Kod Bulunamadı.',
  footer: '<a href="">www.moonvo.com.tr</a>'
})
  
}
</script> 
<script>
        $("#test").click(function() {
        })
</script>
<script type="text/javascript">
</script>
<!-- Preloader -->
<script type="text/javascript">
	//<![CDATA[
		$(window).on('load', function() { // makes sure the whole site is loaded 
			$('#status').fadeOut(); // will first fade out the loading animation 
            $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website. 
            $('body').delay(350).css({'overflow':'visible'});
		})
	//]]>
</script> 
          <script>
$(document).ready(function() {
    $("#sssbutton").click(function(){
        $("html, body").animate({scrollTop: $('#sıkcasorulansorular').offset().top }, 500);
    }); 
});
    
          </script>
           <script> 
      var typed = new Typed(".auto-type", {
        strings: ["MoonVo Sunucu Oylama Sistemi!","MoonVo İle Geleceğe Yeni Bir Adım!","İnstagram: https://www.instagram.com/moonvo_discord/ hemen takip et!","Discord: https://discord.gg/9TyEZnqfVV"],
        typeSpeed: 100,
        backSpeed: 50,
        loop: true
      })
      </script>