<!DOCTYPE html>
<html lang="en">
  
<!-- Mirrored from admin.pixelstrap.com/zeta/theme/login_one.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 10 Feb 2022 05:43:45 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MoonVo Sunucu Oylama Sistemi!">
    <meta name="keywords" content="Sunucu Oylama Sistemi, MoonVo, MoonVo login, Login MoonVo">
    <meta name="author" content="moonvo">
    <link rel="icon" href="https://i.hizliresim.com/jlddu54.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://i.hizliresim.com/jlddu54.png" type="image/x-icon">
    <title>MoonVo</title>
     <!-- Google font-->
  <script src="https://kit.fontawesome.com/616afa13d7.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./Zetaadmindash/assets/css/vendors/font-awesome.css">
    <!-- ico-font-->

    <!-- Themify icon-->
      <link rel="stylesheet" type="text/css" href="./Zetaadmindash/assets/css/vendors/themify.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="./Zetaadmindash/assets/css/vendors/flag-icon.css">
    <!-- Feather icon-->
   <link rel="stylesheet" type="text/css" href="./Zetaadmindash/assets/css/vendors/feather-icon.css">
<script src="https://unpkg.com/feather-icons"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <!-- Plugins css start-->
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="./Zetaadmindash/assets/css/vendors/bootstrap.css">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="./Zetaadmindash/assets/css/style.css">
    <link id="color" rel="stylesheet" href="./Zetaadmindash/assets/css/color-1.css" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="./Zetaadmindash/assets/css/responsive.css">
  </head>
  <body>
    <!-- Loader starts-->
    <div class="loader-wrapper">
      <div class="loader">
        <div class="loader-bar"></div>
        <div class="loader-bar"></div>
        <div class="loader-bar"></div>
        <div class="loader-bar"></div>
        <div class="loader-bar"></div>
        <div class="loader-ball"></div>
      </div>
    </div>
    <!-- Loader ends-->
    <!-- page-wrapper Start-->
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-7"><img class="bg-img-cover bg-center" src="./Zetaadmindash/assets/images/login/2.jpg" alt="looginpage"></div>
          <div class="col-xl-5 p-0">
            <div class="login-card">
              <form class="theme-form login-form">
                <h4>Giriş Yap</h4>
                <h6>Tekrar hoşgeldiniz! Hesabınıza giriş yapın.</h6>
                <div class="form-group">
                  <label>Email</label>
                  <div class="input-group"><span class="input-group-text"><i class="icon-email"></i></span>
                    <input class="form-control" type="email" required="" placeholder="Kapalı | Discord ile giriş yap" disabled>
                  </div>
                </div>
                <div class="form-group">
                  <label>Şifre</label>
                  <div class="input-group"><span class="input-group-text"><i class="icon-lock"></i></span>
                    <input class="form-control" type="password" name="login[password]" required="" placeholder="Kapalı | Discord ile giriş yap" disabled>
                  </div>
                </div>
                <div class="form-group">
                  <div class="checkbox">
                    <input id="checkbox1" type="checkbox">
                    <label class="text-muted" for="checkbox1">Beni Hatırla</label>
                  </div><a class="link">Şifrenimi Unuttun?</a>
                </div>
                <div class="form-group">
                                                                                  <% if(!user) {%>   
                  <a href="/discordauth">
                  <button class="btn btn-primary btn-block" type="button">Discord İle Giriş Yap</button>
                  </a>
    
    <% } else {%>    
                  <a href="/dashboard">
                  <button class="btn btn-primary btn-block" type="button">Discord İle Giriş Yap</button>
                  </a>
      <% } %> 
                </div>
                <div class="login-social-title">                
                  <h5>Şuanlık Sadece Discord ile giriş</h5>
                </div>
                <div class="form-group">
                  <ul class="login-social">
                    <li><a href="https://www.linkedin.com/" target="_blank"><i data-feather="linkedin"></i></a></li>
                    <li><a href="https://twitter.com/" target="_blank"><i data-feather="twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/" target="_blank"><i data-feather="facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/" target="_blank"><i data-feather="instagram">                  </i></a></li>
                  </ul>
                </div>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- page-wrapper end-->
    <!-- latest jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Bootstrap js-->
    <script src="./Zetaadmindash/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- feather icon js-->
<script src="https://unpkg.com/feather-icons"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <!-- scrollbar js-->
    <!-- Sidebar jquery-->
    <script src="./Zetaadmindash/assets/js/config.js"></script>
    <!-- Plugins JS start-->
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="./Zetaadmindash/assets/js/script.js"></script>
    <!-- login js-->
    <!-- Plugin used-->
  </body>

<!-- Mirrored from admin.pixelstrap.com/zeta/theme/login_one.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 10 Feb 2022 05:43:46 GMT -->
</html>