<html lang="tr">
<head>
      <link rel = "icon" href = 
"https://i.hizliresim.com/jlddu54.png" 
       
        type = "image/x-icon">
        <title>MoonVo
        </title>
  
  <title>MoonVo</title>
      <meta property="og:type" content="website" />
<meta property="og:title" content="Kurallar" />
<meta property="og:site_name" content="MoonVo" />
<meta property="og:image" content="https://i.hizliresim.com/jlddu54.png" />
<meta name="description" content="MoonVo Modern bir oy verme botudur https://discord.gg/9TyEZnqfVV" />
<meta property="og:description" content="MoonVo Modern bir oy verme botudur https://discord.gg/9TyEZnqfVV" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
            <link rel="stylesheet" href="/eklenti/rules.css">
</head>
  <body>
<!-- Logo -->
<center><img src="https://i.hizliresim.com/l2k3ptw.jpg" style="width:75px;height: 75px"></img>
</center>
<!-- Content -->
<div id="content">
   <h1 style="padding-left:25px;">Kurallar</h1>
   <p>Bu kurallar 2023 ocak 1 itibariyle geçerlidir.</p>
   <p>Kurallar Değişiklik gösterebilir</p>

   <br />
   <p style="font-size:18px;"><strong>Discord sunucu kuralları:</strong></p>
   <ul style="list-style-type:circle">
      <li>Kelimelerinizi Saygı Çerçevesi içinde seçin. uygunsuz bir söz hoş görünmeyecektir.</li>
      <li>NSFW veya müstehcen içerikler yasaktır. Buna metinler, görseller veya çıplaklık, cinsellik, yüksek şiddet ya da diğer rahatsız edici içeriklere sahip bağlantılar dahildir.</li>
      <li>Kanalları olabildiğince amacı içinde kullanın.</li>
      <li>Destek kanallarını kullanırken Yetkilileri 1 defa etiketleyin ve sakince bekleyin.</li>
      <li>Flood, Spam, CapsLock Yasaktır.</li>
      <li>Sunucuda Herkesin huzuru için çatışma ortamı kurma ve kavga etme. </li>
      <li>DM Aracılığıyla veya Bir Kanalda Reklam yapmak yasaktır ve ban sebebidir.</li>
      <li>Sunucumuzda Üyeler arasında ticaret yasaktır.</li>
      <li>Discord Topluluk İlkeleri ve Discord Hizmet Koşullarına uy.</li>
 
   </ul>
   <br />
   <p style="font-size:18px;"><strong>Site Kuralları:</strong></p>
   <ul style="list-style-type:circle">
      <li>Lütfen Profil sayfanızı kişileştirirken avatarınızı ve isminiz ile açıklamanızı Saygı çerçevesi içinde ayarlayın aksi takdirde ban uygulanacaktır.</li>
      <li>Sitemize Sunucu Eklerken Sunucu ekleme Kurallarına dikkat edin.</li>
      <li>Sitemizdeki Kodları kopyalamak veya Herhangi bir program Aracılığıyla kodları clon lamak yasaktır.</li>
      <li>Sitemizdeki Canlı Destek bölümünü gerekeiz meşgul etmeyiniz unutmayın canlı destek'e ulaşmaya çalıştığınızda yetkililerimize çağrı gider.</li>
      <li>Sitemizde Yan hesap kullanmak yasaktır. bir sebepten dolayı kullanacaksanız ise Discord üzerinden bize sebepi bildirin.</li>
   </ul>
    <br />
   <p style="font-size:18px;"><strong>Bot Kuralları:</strong></p>
   <ul style="list-style-type:circle">
      <li>Lütfen Komutları spam yapıcak şekilde kullanmayın ping yapıcaktır</li>
      <li>Botumuzda bir hatadan yararlanıp kullanmak yasaktır gereken işlemler yapılır.</li>
      <li>Sunucu kurulumu yaparken açıklamayı lütfen saygı çerçevesi içinde seçiniz</li>
      <li>Sunucunuzun Verileri güncellendi ise Destek Talebi Açmak Yerine /güncelle komutunu kullanın bu komut sunucunun verilerini güncelleyecektir.</li>
      <li>Eğer Sunucunun Kurucusu Değişmiş ise Lütfen Destek Talebi Açınız /güncelle komutunu kullanmayınız.</li>
   </ul>
   
   <br />
   <p style="font-size:18px;"><strong>Sunucu Ekleme Kuralları:</strong></p>
   <ul style="list-style-type:circle">
      <li>NSFW veya müstehcen içeren sunucular yasaktır. Buna metinler, görseller veya çıplaklık, cinsellik, yüksek şiddet ya da diğer rahatsız edici içeriklere sahip bağlantılar dahildir.</li>
      <li>Sunucu ismi Saygu Çerçevesi içinde olmalı </li>
      <li>Sunucu Avatarı NSFW veya müstehcen içermemelidir. Buna metinler, görseller veya çıplaklık, cinsellik, yüksek şiddet ya da diğer rahatsız edici içeriklere sahip bağlantılar dahildir. </li>
      <li>Sunucu Açıklamanız Saygı Çerçevesi içinde olmalı</li>
   </ul>
</div>


<center><i style="padding-bottom:50px;">Copyright © 2023 <a href="http://moonvo.com.tr/">MoonVo, Tüm hakları sakldır.</a> <br>
<a> Unutmayın Discord Her yaşta kullanıcının kullanabilmesi için ayarlanmış lütfen küçük yaşta kullanıcılarımız için Sunucumuzda Saygılı olalım.</a>
<br><a>Kurallara Uyman Bizim İçin Önemli!</a></center>

  </body>