<html lang="tr">
    <head>
      <link rel = "icon" href = 
"https://i.hizliresim.com/jlddu54.png" 
       
        type = "image/x-icon">
        <title>MoonVo
        </title>
  
  <title>MoonVo</title>
      <meta property="og:type" content="website" />
<meta property="og:title" content="MoonVo" />
<meta property="og:site_name" content="MoonVo" />
<meta property="og:image" content="https://i.hizliresim.com/jlddu54.png" />
<meta name="description" content="MoonVo Modern bir oy verme botudur https://discord.gg/9TyEZnqfVV" />
<meta property="og:description" content="MoonVo Modern bir oy verme botudur https://discord.gg/9TyEZnqfVV" />
<meta content="#FFA500" data-react-helmet="true" name="theme-color" />
        <link rel="stylesheet" href="./eklenti/support.css" /> 
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="./sweetalert/libs/sweetalert2.min.css" rel="stylesheet">
  <script src="./jQuery/libs/jquery361/jquery-3.6.1.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<header>
  <div class="logo"><a href=""><img src="https://theme.zdassets.com/theme_assets/678183/cc59daa07820943e943c2fc283b9079d7003ff76.svg" alt=""></a></div>
  <nav>
    <ul>
      <li><a href="#">Discord</a></li>
      <li><a href="#">Turkısh (TR) <i class="fa-solid fa-angle-down"></i> </a></li>
      <li><a href="#">Talep aç</a></li>
      <li><a href="#">Giriş yap</a></li>
    </ul>
  </nav>
</header>

<section class="hero_section">
  <div class="hero_section--inner">
    <h1>Yardım merkezi</h1>

   <form action="#"  data-search="" data-instant="true" autocomplete="off" action="/hc/en-us/search" accept-charset="UTF-8" method="get" class="search_area">
     <div class="search_icon">
  <i class="fa fa-search"></i>
</div>
      <div class="search_box">
      <input type="search" name="search" id="search" placeholder="Search" autocomplete="off" aria-label="Search">
    </div>
   </form>
  </div>
</section>

<section id="main">
  <main>
    <article>
      <h1>Yardımamı ihtiyacın var?</h1>
      <p>Bir talep açabilir veya topluluğa sorabilirsin! <a href="#yakında">Topluluk</a> </p>
    </article>
  </main>
</section>

<button id="question_help">
  <i class="fa-solid fa-circle-question"></i> <span>Help</span>
</button>

<section id="cattegory_box">
  <ul class="flex_container">
    <li class="single_cattegory flex-item">
      <img src="https://theme.zdassets.com/theme_assets/678183/1bd76d1fd516f8dacd3c7422a8ceb929ef2502d9.svg" alt="">
      <h2>Announcements</h2>
      <hr>
      <p>We've got our ear to the ground. Here's what you need to know.</p>
    </li>
     <li class="single_cattegory flex-item">
      <img src="https://theme.zdassets.com/theme_assets/678183/1bd76d1fd516f8dacd3c7422a8ceb929ef2502d9.svg" alt="">
      <h2>Announcements</h2>
      <hr>
      <p>We've got our ear to the ground. Here's what you need to know.</p>
    </li>
     <li class="single_cattegory flex-item">
      <img src="https://theme.zdassets.com/theme_assets/678183/1bd76d1fd516f8dacd3c7422a8ceb929ef2502d9.svg" alt="">
      <h2>Announcements</h2>
      <hr>
      <p>We've got our ear to the ground. Here's what you need to know.</p>
    </li>
     <li class="single_cattegory flex-item">
      <img src="https://theme.zdassets.com/theme_assets/678183/1bd76d1fd516f8dacd3c7422a8ceb929ef2502d9.svg" alt="">
      <h2>Announcements</h2>
      <hr>
      <p>We've got our ear to the ground. Here's what you need to know.</p>
    </li>
     <li class="single_cattegory flex-item">
      <img src="https://theme.zdassets.com/theme_assets/678183/1bd76d1fd516f8dacd3c7422a8ceb929ef2502d9.svg" alt="">
      <h2>Announcements</h2>
      <hr>
      <p>We've got our ear to the ground. Here's what you need to know.</p>
    </li>
     <li class="single_cattegory flex-item">
      <img src="https://theme.zdassets.com/theme_assets/678183/1bd76d1fd516f8dacd3c7422a8ceb929ef2502d9.svg" alt="">
      <h2>Announcements</h2>
      <hr>
      <p>We've got our ear to the ground. Here's what you need to know.</p>
    </li>
     <li class="single_cattegory flex-item">
      <img src="https://theme.zdassets.com/theme_assets/678183/1bd76d1fd516f8dacd3c7422a8ceb929ef2502d9.svg" alt="">
      <h2>Announcements</h2>
      <hr>
      <p>We've got our ear to the ground. Here's what you need to know.</p>
    </li>
     <li class="single_cattegory flex-item">
      <img src="https://theme.zdassets.com/theme_assets/678183/1bd76d1fd516f8dacd3c7422a8ceb929ef2502d9.svg" alt="">
      <h2>Announcements</h2>
      <hr>
      <p>We've got our ear to the ground. Here's what you need to know.</p>
    </li>
     <li class="single_cattegory flex-item">
      <img src="https://theme.zdassets.com/theme_assets/678183/1bd76d1fd516f8dacd3c7422a8ceb929ef2502d9.svg" alt="">
      <h2>Announcements</h2>
      <hr>
      <p>We've got our ear to the ground. Here's what you need to know.</p>
    </li>
     <li class="single_cattegory flex-item">
      <img src="https://theme.zdassets.com/theme_assets/678183/1bd76d1fd516f8dacd3c7422a8ceb929ef2502d9.svg" alt="">
      <h2>Announcements</h2>
      <hr>
      <p>We've got our ear to the ground. Here's what you need to know.</p>
    </li>
     <li class="single_cattegory flex-item">
      <img src="https://theme.zdassets.com/theme_assets/678183/1bd76d1fd516f8dacd3c7422a8ceb929ef2502d9.svg" alt="">
      <h2>Announcements</h2>
      <hr>
      <p>We've got our ear to the ground. Here's what you need to know.</p>
    </li>
     <li class="single_cattegory flex-item">
      <img src="https://theme.zdassets.com/theme_assets/678183/1bd76d1fd516f8dacd3c7422a8ceb929ef2502d9.svg" alt="">
      <h2>Announcements</h2>
      <hr>
      <p>We've got our ear to the ground. Here's what you need to know.</p>
    </li>
     <li class="single_cattegory flex-item">
      <img src="https://theme.zdassets.com/theme_assets/678183/1bd76d1fd516f8dacd3c7422a8ceb929ef2502d9.svg" alt="">
      <h2>Announcements</h2>
      <hr>
      <p>We've got our ear to the ground. Here's what you need to know.</p>
    </li>
     <li class="single_cattegory flex-item">
      <img src="https://theme.zdassets.com/theme_assets/678183/1bd76d1fd516f8dacd3c7422a8ceb929ef2502d9.svg" alt="">
      <h2>Announcements</h2>
      <hr>
      <p>We've got our ear to the ground. Here's what you need to know.</p>
    </li>
  </ul>
</section>








  
      </body>
        </html>