<html lang="tr">
<head>
      <link rel = "icon" href = 
"https://i.hizliresim.com/jlddu54.png" 
       
        type = "image/x-icon">
        <title>MoonVo
        </title>
  
  <title>MoonVo</title>
      <meta property="og:type" content="website" />
<meta property="og:title" content="MoonVo" />
<meta property="og:site_name" content="MoonVo" />
<meta property="og:image" content="https://i.hizliresim.com/jlddu54.png" />
<meta name="description" content="MoonVo Modern bir oy verme botudur https://discord.gg/9TyEZnqfVV" />
<meta property="og:description" content="MoonVo Modern bir oy verme botudur https://discord.gg/9TyEZnqfVV" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
<meta name=”viewport” content=”width=device-width; initial-scale=1.0″>
</head>

  <body> 
<a href="<%=  urll %>"> test</a>
    
  </body>
  <script src="./eklenti/banned.js">
</script>  
</body>
</html>